body {
    background-color: #0f0f0f;
    padding: 25px;
    box-sizing: border-box;
}

#contentWrapper  {
    background-color: #b0b0b0;
    width: 75%;
    padding: 0 75px;
    box-sizing: border-box;
    min-height: 500px;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
}

.headerGroup {
    width: 100%;
    margin: 25px 0;
}

.headerGroup div {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #313131;
    text-align: center;
}

.headerText {
    margin: 0 auto;
    font-weight: bold;
    line-height: 75px;
    font-size: 42px;
    text-decoration: underline;
}

#content {
    width: 100%;
}

.userInput {
    min-width: 250px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.btn {
    border-radius: 10px;
    width: 125px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 38px;
    height: 38px;
    background-color: #737373;
    color: #e6e6e6 !important;
    cursor: pointer;
    display: block !important;
    margin-top: 15px;
}

.groupLabel{
    display: block;
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}